body {
    font-family: 'Droid Serif', sans-serif;
    background-image: url('../img/ricepaper.png');
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.3em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1.1em;
}

header {
    height: 35px;
    line-height: 40px;
    background: #333;
    color: #fff;
    margin-bottom: 30px;
    border-bottom: 3px solid #666;
}

header div.me {
    display: inline-block;
    font-weight: bold;
}

header div.me a {
    color: #fff;
    text-decoration: none;
}

header nav {
    float: right;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #ccc;
}

div.content {
    padding: 0 20px;
    min-width: 340px;
    max-width: 980px;
    margin: 0 auto;
    box-sizing: border-box;
}

header div.content {
    padding: 0 40px;
}

article {
    overflow: hidden;
    background: #fff;
    color: #333;

    margin: 0 0 20px 0;
    padding: 20px;
}

article img {
    max-width: 100%;
    margin-bottom: 10px;
}

article .title {
    font-size: 1.3em;
    margin: 0 0 5px 0;
}

article .title a {
    text-decoration: none;
    color: #007c20;
}

article time {
    display: block;
    margin-bottom: 10px;
    font-size: 0.7em;
    text-transform: uppercase;
}

article p {
    margin: 0 0 10px 0;
    line-height: 1.4em;
}